<div class="container text-center pt-2 mt-5 border pb-3 bg-dark text-white">
  <h1>
    Licznik:
  </h1>

  <div class="row row-cols-12">
    <div class="col-12 mb-3">
      <h3>
        {{counterValue}}
      </h3>
    </div>

  </div>

  <div class="row row-cols-3">
    <div class="col">
      <button class="btn btn-danger btn-lg col-lg-12 col-11" (click)="dsc()">-1</button>
    </div>
    <div class="col">
      <button class="btn btn-secondary btn-lg col-lg-12 col-11" (click)="rst()">RESET</button>
    </div>
    <div class="col">
      <button class="btn btn-success btn-lg col-lg-12 col-11" (click)="add()">+1</button>
    </div>
  </div>


  <div class="text-center m-3 border bg-white text-black rounded-5">
    <b>Name:</b> angular_q2_counter <br/>
    <b>Framework:</b> angular <br>
    <b>Language:</b> TypeScript<br>
    <b>Styling:</b> css / Bootstrap
  </div>

</div>


